*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
 scroll-behavior: smooth;
 font-family: "Righteous", sans-serif;
}

header{
    background-color: #333;
    position: fixed;
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
header nav a{
    color: white;
    padding: 8px;
    transition: background-color 1s;
}
header nav a:hover{ /* :hover quando passar o mouse em cima*/
    background-color: lightblue;
    color: black;
}

.grupo{
    height: 100vh;
}

#moranguinho{
    background-color: #fa96ac;
    display: flex;
}
#moranguinho img{
    width: 55vw;
    margin-left: 42vh;
}

#cachinho-de-framboesa{
    background-color: #fb3a9b;
}
#cachinho-de-framboesa img{
    width: 18vw;
    margin-top: 17vh;
    margin-right: 5vh;
}

#amora-linda{
    background-color: #54a0ff;
}
#amora-linda img{
    width: 17vw;
    margin-top: 17vh;
    margin-left: 5vh;
}

#gotinha-de-limao{
    background-color: #feca57;
}
#gotinha-de-limao img{
    width: 22vw;
    margin-top: 16vh;
    margin-left: 5vh;
}

#ameixinha{
    background-color: #800080;
}
#ameixinha img{
    width: 25vw;
    margin-top: 18vh;
    margin-left: 5vh;
}

#laranjinha{
    background-color: #f47621;
}
#laranjinha img{
    width: 28vw;
    margin-top: 19vh;
    margin-left: 1vh;
}